In [62]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [63]:
import pandas as pd


# Lineitem

l_columnnames = ["L_ORDERKEY", "L_PARTKEY", "L_SUPPKEY", "L_LINENUMBER", "L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_TAX",
                "L_RETURNFLAG", "L_LINESTATUS", "L_SHIPDATE", "L_COMMITDATE", "L_RECEIPTDATE", "L_SHIPINSTRUCT", "L_SHIPMODE", "L_COMMENT"]

for i in range(len(l_columnnames)):
    l_columnnames[i] = l_columnnames[i].lower()

l_data_types = {
    'l_orderkey': int,
    'l_partkey': int,
    'l_suppkey': int,
    'l_linenumber': int,
    'l_quantity': float,
    'l_extendedprice': float,
    'l_discount': float,
    'l_tax': float,
    'l_returnflag': str,
    'l_linestatus': str,
    'l_shipinstruct': str,
    'l_shipmode': str,
    'l_comment': str
}

l_parse_dates = ['l_shipdate', 'l_commitdate', 'l_receiptdate']

# Don't set indexes, as we can't access them with Pandas selection!
lineitem = pd.read_table("../tpch-pgsql-master/data/load/lineitem.tbl.csv", sep="|", names=l_columnnames, dtype=l_data_types, parse_dates=l_parse_dates)

# Order

o_columnnames = ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERSTATUS", "O_TOTALPRICE", "O_ORDERDATE", "O_ORDERPRIORITY", "O_CLERK", "O_SHIPPRIORITY", "O_COMMENT"]

for i in range(len(o_columnnames)):
    o_columnnames[i] = o_columnnames[i].lower()
    
o_data_types = {
    'o_orderkey': int,
    'o_custkey': int,
    'o_orderstatus': str,
    'o_totalprice': float,
    'o_orderpriority': str,
    'o_clerk': str,
    'o_shippriority': int,
    'o_comment': str
}

o_parse_dates = ['o_orderdate']

# Don't set indexes, as we can't access them with Pandas selection!
orders = pd.read_table("../tpch-pgsql-master/data/load/orders.tbl.csv", sep="|", names=o_columnnames, dtype=o_data_types, parse_dates=o_parse_dates)

# Customer

c_columnnames = ["C_CUSTKEY", "C_NAME", "C_ADDRESS", "C_NATIONKEY", "C_PHONE", "C_ACCTBAL", "C_MKTSEGMENT", "C_COMMENT"]

for i in range(len(c_columnnames)):
    c_columnnames[i] = c_columnnames[i].lower()
    
c_data_types = {
    'c_custkey': int,
    'c_name': str,
    'c_address': str,
    'c_nationkey': int,
    'c_phone': str,
    'c_acctbal': float,
    'c_mktsegment': str,
    'c_comment': str
}

c_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
customer = pd.read_table("../tpch-pgsql-master/data/load/customer.tbl.csv", sep="|", names=c_columnnames, dtype=c_data_types, parse_dates=c_parse_dates)

# Part

p_columnnames = ["P_PARTKEY", "P_NAME", "P_MFGR", "P_BRAND", "P_TYPE", "P_SIZE", "P_CONTAINER", "P_RETAILPRICE", "P_COMMENT"]

for i in range(len(p_columnnames)):
    p_columnnames[i] = p_columnnames[i].lower()
    
p_data_types = {
    'p_partkey': int, 
    'p_name': str,
    'p_mfgr': str,
    'p_brand': str,
    'p_type': str,
    'p_size': int,
    'p_container': str,
    'p_retailprice': float,
    'p_comment': str
}

p_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
part = pd.read_table("../tpch-pgsql-master/data/load/part.tbl.csv", sep="|", names=p_columnnames, dtype=p_data_types, parse_dates=p_parse_dates)

# Nation

n_columnnames = ["N_NATIONKEY", "N_NAME", "N_REGIONKEY", "N_COMMENT"]

for i in range(len(n_columnnames)):
    n_columnnames[i] = n_columnnames[i].lower()
    
n_data_types = {
    'n_nationkey': int,
    'n_name': str,
    'n_regionkey': int,
    'n_comment': str,
}

n_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
nation = pd.read_table("../tpch-pgsql-master/data/load/nation.tbl.csv", sep="|", names=n_columnnames, dtype=n_data_types, parse_dates=n_parse_dates)

# Supplier

s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../tpch-pgsql-master/data/load/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

# Partsupp

ps_columnnames = ["PS_PARTKEY", "PS_SUPPKEY", "PS_AVAILQTY", "PS_SUPPLYCOST", "PS_COMMENT"]

for i in range(len(ps_columnnames)):
    ps_columnnames[i] = ps_columnnames[i].lower()

ps_data_types = {
    'ps_partkey': int,
    'ps_suppkey': int,
    'ps_availqty': int,
    'ps_supplycost': float,
    'ps_comment': str
}

ps_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
partsupp = pd.read_table("../tpch-pgsql-master/data/load/partsupp.tbl.csv", sep="|", names=ps_columnnames, dtype=ps_data_types, parse_dates=ps_parse_dates)

# Region

r_columnnames = ["R_REGIONKEY", "R_NAME", "R_COMMENT"]

for i in range(len(r_columnnames)):
    r_columnnames[i] = r_columnnames[i].lower()

r_data_types = {
    'r_regionkey': int,
    'r_name': str,
    'r_comment': str
}

r_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
region = pd.read_table("../tpch-pgsql-master/data/load/region.tbl.csv", sep="|", names=r_columnnames, dtype=r_data_types, parse_dates=r_parse_dates)

#### Notes

- Should the df_filter_1 be increasing for the non-subplan from the point the subplan leaves off

In [69]:
# Make into a function
def subplan_1(parameter):
    df_filter_1 = region[region.r_name == 'EUROPE']
    df_filter_1 = df_filter_1[['r_regionkey', 'r_name', 'r_comment']]
    df_filter_2 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_availqty', 'ps_supplycost', 'ps_comment']]
    # Remove quotes, Add in multiple equals
    df_filter_2 = df_filter_2[df_filter_2.ps_partkey == parameter]
    df_filter_3 = supplier[['s_suppkey', 's_name', 's_address', 's_nationkey', 's_phone', 's_acctbal', 's_comment']]
    df_merge_1 = df_filter_2.merge(df_filter_3, left_on="ps_suppkey", right_on="s_suppkey")
    df_merge_1 = df_merge_1[['ps_supplycost', 's_nationkey']]
    df_filter_4 = nation[['n_nationkey', 'n_name', 'n_regionkey', 'n_comment']]
    df_merge_2 = df_merge_1.merge(df_filter_4, left_on="s_nationkey", right_on="n_nationkey")
    df_merge_2 = df_merge_2[['ps_supplycost', 'n_regionkey']]
    df_merge_3 = df_filter_1.merge(df_merge_2, left_on="r_regionkey", right_on="n_regionkey")
    df_merge_3 = df_merge_3[['ps_supplycost']]
    df_aggr_1 = pd.DataFrame()
    df_aggr_1['minps_supplycost'] = [(df_merge_3.ps_supplycost).min()]
    df_aggr_1 = df_aggr_1[['minps_supplycost']]
    # Make to return this, as opposed to set it to a variable
    return df_aggr_1['minps_supplycost'][0]



# Set this to have two equal symbols
# Had to remove quotes here from the BRASS string, write a test to ensure this is fixed
df_filter_5 = part[(part.p_type.str.contains("^.*?BRASS$", regex=True)) & (part.p_size == 15)]
df_filter_5 = df_filter_5[['p_partkey', 'p_mfgr']]
df_filter_6 = region[region.r_name == 'EUROPE']
df_filter_6 = df_filter_6[['r_regionkey', 'r_name', 'r_comment']]
df_filter_7 = supplier[['s_suppkey', 's_name', 's_address', 's_nationkey', 's_phone', 's_acctbal', 's_comment']]
df_filter_8 = nation[['n_name', 'n_nationkey', 'n_regionkey']]
df_merge_4 = df_filter_7.merge(df_filter_8, left_on="s_nationkey", right_on="n_nationkey")
df_merge_4 = df_merge_4[['s_acctbal', 's_name', 's_address', 's_phone', 's_comment', 's_suppkey', 'n_name', 'n_regionkey']]
df_merge_5 = df_filter_6.merge(df_merge_4, left_on="r_regionkey", right_on="n_regionkey")
df_merge_5 = df_merge_5[['s_acctbal', 's_name', 's_address', 's_phone', 's_comment', 's_suppkey', 'n_name']]
df_filter_9 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_availqty', 'ps_supplycost', 'ps_comment']]
df_merge_6 = df_merge_5.merge(df_filter_9, left_on="s_suppkey", right_on="ps_suppkey")
df_merge_6 = df_merge_6[['s_acctbal', 's_name', 's_address', 's_phone', 's_comment', 'ps_partkey', 'ps_supplycost', 'n_name']]
# Remove the AND ... section from this, for now
df_merge_7 = df_filter_5.merge(df_merge_6, left_on="p_partkey", right_on="ps_partkey") # ) AND ((SubPlan 1)
print(len(df_merge_7))

# ps_supplycost = subplan
#df_merge_7 = df_merge_7[df_merge_7.ps_supplycost == subplan_1()]
#print(df_merge_7.head(3))
#df_merge_7 = df_merge_7.merge(lambda x: x['ps_supplycost'] == subplan_1(x['p_partkey']), axis=1)

# Goodlines
#df_merge_7 = df_merge_7[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
#df_sort_1 = df_merge_7.sort_values(by=['s_acctbal', 'n_name', 's_name', 'p_partkey'], ascending=[False, True, True, True])
#df_sort_1 = df_sort_1[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
#df_limit_1 = df_sort_1[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
#df_limit_1 = df_limit_1.head(100)

#print(df_limit_1)

642

In [68]:
df_merge_7.head()

,p_partkey,p_mfgr,s_acctbal,s_name,s_address,s_phone,s_comment,ps_partkey,ps_supplycost,n_name
0,249,Manufacturer#4,9936.22,Supplier#000005250,B3rqp0xbSEim4Mpy2RH J,33-320-228-2957,etect about the furiously final accounts. slyl...,249,914.16,UNITED KINGDOM
1,1015,Manufacturer#4,7669.38,Supplier#000006016,OmiSL2cwQ6YGQncYNAj8WZAFgz,16-757-121-2301,ffily even pinto beans grow ruthlessly pac,1015,253.97,FRANCE
2,1634,Manufacturer#2,5647.88,Supplier#000004135,"dbHS8xeJMoEG yEVI,eRk6LZrj 89XoJ",17-244-262-1877,lithely regular accounts against the ironicall...,1634,621.51,GERMANY
3,2037,Manufacturer#1,6332.07,Supplier#000007038,"Z5UML Yd8ZOMvawM6dv rQFFZr,Lm",16-978-492-1589,usual asymptotes. regular deposits haggle alwa...,2037,514.67,FRANCE
4,3080,Manufacturer#2,8022.42,Supplier#000003081,"vKnj7hZN,Ky1YyqUVr7h",16-656-337-9927,special accounts beside the pending foxes wake...,3080,642.98,FRANCE

In [78]:
# Find duplicates for a given column
# df_merge_7[df_merge_7.duplicated('p_partkey', keep=False) == True]

In [76]:
df_merge_7[df_merge_7.p_partkey == 3822]

,p_partkey,p_mfgr,s_acctbal,s_name,s_address,s_phone,s_comment,ps_partkey,ps_supplycost,n_name
7,3822,Manufacturer#5,2808.75,Supplier#000001323,PAh52FWueSB04tXU,17-522-987-4040,tes will have to boost above the carefully fin...,3822,49.09,GERMANY
8,3822,Manufacturer#5,2803.08,Supplier#000008823,66H6L3MOAH1,17-797-763-9282,"unusual deposits affix final, regular requests...",3822,361.74,GERMANY
9,3822,Manufacturer#5,7009.72,Supplier#000003823,"4ex,LmqMHTsTXzQmD69P6hcH2AYo9z31g",16-321-642-8507,olphins. quickly final platelets are carefully...,3822,173.33,FRANCE

In [77]:
subplan = subplan_1(3822)
subplan

49.09