In [1]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [2]:
import pandas as pd


# Lineitem

l_columnnames = ["L_ORDERKEY", "L_PARTKEY", "L_SUPPKEY", "L_LINENUMBER", "L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_TAX",
                "L_RETURNFLAG", "L_LINESTATUS", "L_SHIPDATE", "L_COMMITDATE", "L_RECEIPTDATE", "L_SHIPINSTRUCT", "L_SHIPMODE", "L_COMMENT"]

for i in range(len(l_columnnames)):
    l_columnnames[i] = l_columnnames[i].lower()

l_data_types = {
    'l_orderkey': int,
    'l_partkey': int,
    'l_suppkey': int,
    'l_linenumber': int,
    'l_quantity': float,
    'l_extendedprice': float,
    'l_discount': float,
    'l_tax': float,
    'l_returnflag': str,
    'l_linestatus': str,
    'l_shipinstruct': str,
    'l_shipmode': str,
    'l_comment': str
}

l_parse_dates = ['l_shipdate', 'l_commitdate', 'l_receiptdate']

# Don't set indexes, as we can't access them with Pandas selection!
lineitem = pd.read_table("../data_storage/lineitem.tbl.csv", sep="|", names=l_columnnames, dtype=l_data_types, parse_dates=l_parse_dates)

# Order

o_columnnames = ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERSTATUS", "O_TOTALPRICE", "O_ORDERDATE", "O_ORDERPRIORITY", "O_CLERK", "O_SHIPPRIORITY", "O_COMMENT"]

for i in range(len(o_columnnames)):
    o_columnnames[i] = o_columnnames[i].lower()
    
o_data_types = {
    'o_orderkey': int,
    'o_custkey': int,
    'o_orderstatus': str,
    'o_totalprice': float,
    'o_orderpriority': str,
    'o_clerk': str,
    'o_shippriority': int,
    'o_comment': str
}

o_parse_dates = ['o_orderdate']

# Don't set indexes, as we can't access them with Pandas selection!
orders = pd.read_table("../data_storage/orders.tbl.csv", sep="|", names=o_columnnames, dtype=o_data_types, parse_dates=o_parse_dates)

# Customer

c_columnnames = ["C_CUSTKEY", "C_NAME", "C_ADDRESS", "C_NATIONKEY", "C_PHONE", "C_ACCTBAL", "C_MKTSEGMENT", "C_COMMENT"]

for i in range(len(c_columnnames)):
    c_columnnames[i] = c_columnnames[i].lower()
    
c_data_types = {
    'c_custkey': int,
    'c_name': str,
    'c_address': str,
    'c_nationkey': int,
    'c_phone': str,
    'c_acctbal': float,
    'c_mktsegment': str,
    'c_comment': str
}

c_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
customer = pd.read_table("../data_storage/customer.tbl.csv", sep="|", names=c_columnnames, dtype=c_data_types, parse_dates=c_parse_dates)

# Part

p_columnnames = ["P_PARTKEY", "P_NAME", "P_MFGR", "P_BRAND", "P_TYPE", "P_SIZE", "P_CONTAINER", "P_RETAILPRICE", "P_COMMENT"]

for i in range(len(p_columnnames)):
    p_columnnames[i] = p_columnnames[i].lower()
    
p_data_types = {
    'p_partkey': int, 
    'p_name': str,
    'p_mfgr': str,
    'p_brand': str,
    'p_type': str,
    'p_size': int,
    'p_container': str,
    'p_retailprice': float,
    'p_comment': str
}

p_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
part = pd.read_table("../data_storage/part.tbl.csv", sep="|", names=p_columnnames, dtype=p_data_types, parse_dates=p_parse_dates)

# Nation

n_columnnames = ["N_NATIONKEY", "N_NAME", "N_REGIONKEY", "N_COMMENT"]

for i in range(len(n_columnnames)):
    n_columnnames[i] = n_columnnames[i].lower()
    
n_data_types = {
    'n_nationkey': int,
    'n_name': str,
    'n_regionkey': int,
    'n_comment': str,
}

n_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
nation = pd.read_table("../data_storage/nation.tbl.csv", sep="|", names=n_columnnames, dtype=n_data_types, parse_dates=n_parse_dates)

# Supplier

s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../data_storage/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

# Partsupp

ps_columnnames = ["PS_PARTKEY", "PS_SUPPKEY", "PS_AVAILQTY", "PS_SUPPLYCOST", "PS_COMMENT"]

for i in range(len(ps_columnnames)):
    ps_columnnames[i] = ps_columnnames[i].lower()

ps_data_types = {
    'ps_partkey': int,
    'ps_suppkey': int,
    'ps_availqty': int,
    'ps_supplycost': float,
    'ps_comment': str
}

ps_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
partsupp = pd.read_table("../data_storage/partsupp.tbl.csv", sep="|", names=ps_columnnames, dtype=ps_data_types, parse_dates=ps_parse_dates)

# Region

r_columnnames = ["R_REGIONKEY", "R_NAME", "R_COMMENT"]

for i in range(len(r_columnnames)):
    r_columnnames[i] = r_columnnames[i].lower()

r_data_types = {
    'r_regionkey': int,
    'r_name': str,
    'r_comment': str
}

r_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
region = pd.read_table("../data_storage/region.tbl.csv", sep="|", names=r_columnnames, dtype=r_data_types, parse_dates=r_parse_dates)

In [3]:
df_filter_1 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_supplycost']]
df_filter_2 = supplier[['s_suppkey', 's_nationkey', 's_acctbal', 's_name', 's_address', 's_phone', 's_comment']]
df_merge_1 = df_filter_1.merge(df_filter_2, left_on=['ps_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_filter_3 = nation[['n_nationkey', 'n_regionkey', 'n_name']]
df_filter_4 = region[(region.r_name == 'EUROPE') & (~region.r_name.isnull())]
df_filter_4 = df_filter_4[['r_regionkey', 'r_name']]
df_merge_2 = df_filter_3.merge(df_filter_4, left_on=['n_regionkey'], right_on=['r_regionkey'], how="inner", sort=False)
df_merge_3 = df_merge_1.merge(df_merge_2, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_filter_5 = part[(part.p_size == 15) & (~part.p_size.isnull()) & (part.p_type.str.contains("^.*?BRASS$",regex=True))]
df_filter_5 = df_filter_5[['p_partkey', 'p_size', 'p_type', 'p_mfgr']]
df_merge_4 = df_merge_3.merge(df_filter_5, left_on=['ps_partkey'], right_on=['p_partkey'], how="inner", sort=False)
df_filter_6 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_supplycost']]
df_filter_7 = supplier[['s_suppkey', 's_nationkey']]
df_merge_5 = df_filter_6.merge(df_filter_7, left_on=['ps_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_filter_8 = nation[['n_nationkey', 'n_regionkey']]
df_merge_6 = df_merge_5.merge(df_filter_8, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_filter_9 = region[(region.r_name == 'EUROPE') & (~region.r_name.isnull())]
df_filter_9 = df_filter_9[['r_regionkey', 'r_name']]
df_merge_7 = df_merge_6.merge(df_filter_9, left_on=['n_regionkey'], right_on=['r_regionkey'], how="inner", sort=False)
df_group_1 = df_merge_7 \
    .groupby(['ps_partkey'], sort=False) \
    .agg(
        min_ps_supplycost=("ps_supplycost", "min"),
    )
df_group_1['minps_supplycost'] = df_group_1.min_ps_supplycost
df_group_1 = df_group_1[['minps_supplycost']]
df_group_1 = df_group_1.reset_index(level=0)
df_merge_8 = df_merge_4.merge(df_group_1, left_on=['p_partkey'], right_on=['ps_partkey'], how="inner", sort=False)
df_merge_8 = df_merge_8[(df_merge_8.ps_supplycost == df_merge_8.minps_supplycost)]
df_aggr_1 = pd.DataFrame()
df_aggr_1['s_acctbal'] = (df_merge_8.s_acctbal)
df_aggr_1['s_name'] = (df_merge_8.s_name)
df_aggr_1['n_name'] = (df_merge_8.n_name)
df_aggr_1['p_partkey'] = (df_merge_8.p_partkey)
df_aggr_1['p_mfgr'] = (df_merge_8.p_mfgr)
df_aggr_1['s_address'] = (df_merge_8.s_address)
df_aggr_1['s_phone'] = (df_merge_8.s_phone)
df_aggr_1['s_comment'] = (df_merge_8.s_comment)
df_aggr_1 = df_aggr_1[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
df_sort_1 = df_aggr_1.sort_values(by=['s_acctbal', 'n_name', 's_name', 'p_partkey'], ascending=[False, True, True, True])
df_limit_1 = df_sort_1.head(100)
#return df_limit_1

In [4]:
df_limit_1

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
385,9938.53,Supplier#000005359,UNITED KINGDOM,185358,Manufacturer#4,"QKuHYh,vZGiwu2FWEJoLDx04",33-429-790-6131,uriously regular requests hag
257,9937.84,Supplier#000005969,ROMANIA,108438,Manufacturer#1,"ANDENSOSmk,miq23Xfb5RWt6dvUcvt6Qa",29-520-692-3537,efully express instructions. regular requests ...
380,9936.22,Supplier#000005250,UNITED KINGDOM,249,Manufacturer#4,B3rqp0xbSEim4Mpy2RH J,33-320-228-2957,etect about the furiously final accounts. slyl...
638,9923.77,Supplier#000002324,GERMANY,29821,Manufacturer#4,y3OD9UywSTOk,17-779-299-1839,ackages boost blithely. blithely regular depos...
613,9871.22,Supplier#000006373,GERMANY,43868,Manufacturer#5,J8fcXWsTqM,17-813-485-8637,etect blithely bold asymptotes. fluffily ironi...
...,...,...,...,...,...,...,...,...
636,7887.08,Supplier#000009792,GERMANY,164759,Manufacturer#3,Y28ITVeYriT3kIGdV2K8fSZ V2UqT5H1Otz,17-988-938-4296,ckly around the carefully fluffy theodolites. ...
166,7871.5,Supplier#000007206,RUSSIA,104695,Manufacturer#1,3w fNCnrVmvJjE95sgWZzvW,32-432-452-7731,ironic requests. furiously final theodolites c...
56,7852.45,Supplier#000005864,RUSSIA,8363,Manufacturer#4,"WCNfBPZeSXh3h,c",32-454-883-3821,usly unusual pinto beans. brave ideas sleep ca...
111,7850.66,Supplier#000001518,UNITED KINGDOM,86501,Manufacturer#1,ONda3YJiHKJOC,33-730-383-3892,ifts haggle fluffily pending pai
555,7843.52,Supplier#000006683,FRANCE,11680,Manufacturer#4,2Z0JGkiv01Y00oCFwUGfviIbhzCdy,16-464-517-8943,"express, final pinto beans x-ray slyly asympt..."

In [5]:
df_filter_1 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_supplycost']]
df_filter_2 = supplier[['s_suppkey', 's_nationkey', 's_acctbal', 's_name', 's_address', 's_phone', 's_comment']]
df_merge_1 = df_filter_1.merge(df_filter_2, left_on=['ps_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_filter_3 = nation[['n_nationkey', 'n_regionkey', 'n_name']]
df_filter_4 = region[(region.r_name == 'EUROPE') & (~region.r_name.isnull())]
df_filter_4 = df_filter_4[['r_regionkey', 'r_name']]
df_merge_2 = df_filter_3.merge(df_filter_4, left_on=['n_regionkey'], right_on=['r_regionkey'], how="inner", sort=False)
df_merge_3 = df_merge_1.merge(df_merge_2, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_filter_5 = part[(part.p_size == 15) & (~part.p_size.isnull()) & (part.p_type.str.contains("^.*?BRASS$",regex=True))]
df_filter_5 = df_filter_5[['p_partkey', 'p_size', 'p_type', 'p_mfgr']]
df_merge_4 = df_merge_3.merge(df_filter_5, left_on=['ps_partkey'], right_on=['p_partkey'], how="inner", sort=False)
df_filter_6 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_supplycost']]
df_filter_7 = supplier[['s_suppkey', 's_nationkey']]
df_merge_5 = df_filter_6.merge(df_filter_7, left_on=['ps_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_filter_8 = nation[['n_nationkey', 'n_regionkey']]
df_merge_6 = df_merge_5.merge(df_filter_8, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_filter_9 = region[(region.r_name == 'EUROPE') & (~region.r_name.isnull())]
df_filter_9 = df_filter_9[['r_regionkey', 'r_name']]
df_merge_7 = df_merge_6.merge(df_filter_9, left_on=['n_regionkey'], right_on=['r_regionkey'], how="inner", sort=False)
df_group_1 = df_merge_7 \
    .groupby(['ps_partkey'], sort=False) \
    .agg(
        min_ps_supplycost=("ps_supplycost", "min"),
    )
df_group_1['minps_supplycost'] = df_group_1.min_ps_supplycost
df_group_1 = df_group_1[['minps_supplycost']]
df_group_1 = df_group_1.reset_index(level=0)
df_merge_8 = df_merge_4.merge(df_group_1, left_on=['p_partkey'], right_on=['ps_partkey'], how="inner", sort=False)
df_merge_8 = df_merge_8[(df_merge_8.ps_supplycost == df_merge_8.minps_supplycost)]
df_aggr_1 = pd.DataFrame()
df_aggr_1['s_acctbal'] = (df_merge_8.s_acctbal)
df_aggr_1['s_name'] = (df_merge_8.s_name)
df_aggr_1['n_name'] = (df_merge_8.n_name)
df_aggr_1['p_partkey'] = (df_merge_8.p_partkey)
df_aggr_1['p_mfgr'] = (df_merge_8.p_mfgr)
df_aggr_1['s_address'] = (df_merge_8.s_address)
df_aggr_1['s_phone'] = (df_merge_8.s_phone)
df_aggr_1['s_comment'] = (df_merge_8.s_comment)
df_aggr_1 = df_aggr_1[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
df_sort_1 = df_aggr_1.sort_values(by=['s_acctbal', 'n_name', 's_name', 'p_partkey'], ascending=[False, True, True, True])
df_limit_1 = df_sort_1.head(100)
#return df_limit_1

In [6]:
df_limit_1

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
385,9938.53,Supplier#000005359,UNITED KINGDOM,185358,Manufacturer#4,"QKuHYh,vZGiwu2FWEJoLDx04",33-429-790-6131,uriously regular requests hag
257,9937.84,Supplier#000005969,ROMANIA,108438,Manufacturer#1,"ANDENSOSmk,miq23Xfb5RWt6dvUcvt6Qa",29-520-692-3537,efully express instructions. regular requests ...
380,9936.22,Supplier#000005250,UNITED KINGDOM,249,Manufacturer#4,B3rqp0xbSEim4Mpy2RH J,33-320-228-2957,etect about the furiously final accounts. slyl...
638,9923.77,Supplier#000002324,GERMANY,29821,Manufacturer#4,y3OD9UywSTOk,17-779-299-1839,ackages boost blithely. blithely regular depos...
613,9871.22,Supplier#000006373,GERMANY,43868,Manufacturer#5,J8fcXWsTqM,17-813-485-8637,etect blithely bold asymptotes. fluffily ironi...
...,...,...,...,...,...,...,...,...
636,7887.08,Supplier#000009792,GERMANY,164759,Manufacturer#3,Y28ITVeYriT3kIGdV2K8fSZ V2UqT5H1Otz,17-988-938-4296,ckly around the carefully fluffy theodolites. ...
166,7871.5,Supplier#000007206,RUSSIA,104695,Manufacturer#1,3w fNCnrVmvJjE95sgWZzvW,32-432-452-7731,ironic requests. furiously final theodolites c...
56,7852.45,Supplier#000005864,RUSSIA,8363,Manufacturer#4,"WCNfBPZeSXh3h,c",32-454-883-3821,usly unusual pinto beans. brave ideas sleep ca...
111,7850.66,Supplier#000001518,UNITED KINGDOM,86501,Manufacturer#1,ONda3YJiHKJOC,33-730-383-3892,ifts haggle fluffily pending pai
555,7843.52,Supplier#000006683,FRANCE,11680,Manufacturer#4,2Z0JGkiv01Y00oCFwUGfviIbhzCdy,16-464-517-8943,"express, final pinto beans x-ray slyly asympt..."

In [7]:
df_filter_1 = part[(part.p_type.str.contains("^.*?BRASS$",regex=True)) & (part.p_size == 15)]
df_filter_1 = df_filter_1[['p_partkey', 'p_mfgr']]
df_filter_2 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_availqty', 'ps_supplycost', 'ps_comment']]
df_filter_3 = supplier[['s_suppkey', 's_name', 's_address', 's_nationkey', 's_phone', 's_acctbal', 's_comment']]
df_filter_4 = nation[['n_nationkey', 'n_name', 'n_regionkey', 'n_comment']]
df_filter_5 = region[(region.r_name == 'EUROPE')]
df_filter_5 = df_filter_5[['r_regionkey']]
df_merge_1 = df_filter_4.merge(df_filter_5, left_on=['n_regionkey'], right_on=['r_regionkey'], how="inner", sort=False)
df_merge_1 = df_merge_1[['n_name', 'n_nationkey']]
df_merge_2 = df_filter_3.merge(df_merge_1, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_merge_2 = df_merge_2[['s_acctbal', 's_name', 's_address', 's_phone', 's_comment', 's_suppkey', 'n_name']]
df_merge_3 = df_filter_2.merge(df_merge_2, left_on=['ps_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_merge_3 = df_merge_3[['s_acctbal', 's_name', 's_address', 's_phone', 's_comment', 'ps_partkey', 'ps_supplycost', 'n_name']]
df_merge_4 = df_filter_1.merge(df_merge_3, left_on=['p_partkey'], right_on=['ps_partkey'], how="inner", sort=False)
df_merge_4 = df_merge_4[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment', 'ps_supplycost']]
df_filter_6 = supplier[['s_suppkey', 's_name', 's_address', 's_nationkey', 's_phone', 's_acctbal', 's_comment']]
df_filter_7 = partsupp[['ps_supplycost', 'ps_suppkey', 'ps_partkey']]
df_filter_8 = part[['p_partkey']]
df_merge_5 = df_filter_7.merge(df_filter_8, left_on=['ps_partkey'], right_on=['p_partkey'], how="inner", sort=False)
df_merge_5 = df_merge_5[['ps_supplycost', 'ps_suppkey', 'p_partkey']]
df_merge_6 = df_filter_6.merge(df_merge_5, left_on=['s_suppkey'], right_on=['ps_suppkey'], how="inner", sort=False)
df_merge_6 = df_merge_6[['ps_supplycost', 's_nationkey', 'p_partkey']]
df_filter_9 = nation[['n_nationkey', 'n_name', 'n_regionkey', 'n_comment']]
df_filter_10 = region[(region.r_name == 'EUROPE')]
df_filter_10 = df_filter_10[['r_regionkey']]
df_merge_7 = df_filter_9.merge(df_filter_10, left_on=['n_regionkey'], right_on=['r_regionkey'], how="inner", sort=False)
df_merge_7 = df_merge_7[['n_nationkey']]
df_merge_8 = df_merge_6.merge(df_merge_7, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_merge_8 = df_merge_8[['ps_supplycost', 'p_partkey']]
df_group_1 = df_merge_8 \
    .groupby(['p_partkey'], sort=False, as_index=False) \
    .agg(
        min_ps_supplycost=("ps_supplycost", "min"),
    )
df_group_1['minps_supplycost'] = df_group_1.min_ps_supplycost
df_group_1 = df_group_1[['minps_supplycost', 'p_partkey']]
df_merge_9 = df_merge_4.merge(df_group_1, left_on=['ps_supplycost', 'p_partkey'], right_on=['minps_supplycost', 'p_partkey'], how="inner", sort=False)
df_merge_9 = df_merge_9[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
df_sort_1 = df_merge_9.sort_values(by=['s_acctbal', 'n_name', 's_name', 'p_partkey'], ascending=[False, True, True, True])
df_sort_1 = df_sort_1[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
df_limit_1 = df_sort_1.head(100)

In [8]:
df_limit_1

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
427,9938.53,Supplier#000005359,UNITED KINGDOM,185358,Manufacturer#4,"QKuHYh,vZGiwu2FWEJoLDx04",33-429-790-6131,uriously regular requests hag
256,9937.84,Supplier#000005969,ROMANIA,108438,Manufacturer#1,"ANDENSOSmk,miq23Xfb5RWt6dvUcvt6Qa",29-520-692-3537,efully express instructions. regular requests ...
0,9936.22,Supplier#000005250,UNITED KINGDOM,249,Manufacturer#4,B3rqp0xbSEim4Mpy2RH J,33-320-228-2957,etect about the furiously final accounts. slyl...
77,9923.77,Supplier#000002324,GERMANY,29821,Manufacturer#4,y3OD9UywSTOk,17-779-299-1839,ackages boost blithely. blithely regular depos...
113,9871.22,Supplier#000006373,GERMANY,43868,Manufacturer#5,J8fcXWsTqM,17-813-485-8637,etect blithely bold asymptotes. fluffily ironi...
...,...,...,...,...,...,...,...,...
381,7887.08,Supplier#000009792,GERMANY,164759,Manufacturer#3,Y28ITVeYriT3kIGdV2K8fSZ V2UqT5H1Otz,17-988-938-4296,ckly around the carefully fluffy theodolites. ...
248,7871.5,Supplier#000007206,RUSSIA,104695,Manufacturer#1,3w fNCnrVmvJjE95sgWZzvW,32-432-452-7731,ironic requests. furiously final theodolites c...
22,7852.45,Supplier#000005864,RUSSIA,8363,Manufacturer#4,"WCNfBPZeSXh3h,c",32-454-883-3821,usly unusual pinto beans. brave ideas sleep ca...
204,7850.66,Supplier#000001518,UNITED KINGDOM,86501,Manufacturer#1,ONda3YJiHKJOC,33-730-383-3892,ifts haggle fluffily pending pai
30,7843.52,Supplier#000006683,FRANCE,11680,Manufacturer#4,2Z0JGkiv01Y00oCFwUGfviIbhzCdy,16-464-517-8943,"express, final pinto beans x-ray slyly asympt..."

In [9]:
df_scan_1 = region[(region.r_name == 'EUROPE')]
df_scan_1 = df_scan_1[['r_regionkey', 'r_name']]
df_scan_2 = nation[['n_nationkey', 'n_name', 'n_regionkey']]
df_join_1 = df_scan_1.merge(df_scan_2, left_on=['r_regionkey'], right_on=['n_regionkey'], how='inner', sort=False)
df_scan_3 = part[part.p_type.str.contains('^.*?BRASS$', regex=True) & (part.p_size == 15)]
df_scan_3 = df_scan_3[['p_partkey', 'p_mfgr', 'p_type', 'p_size']]
df_scan_4 = region[(region.r_name == 'EUROPE')]
df_scan_4 = df_scan_4[['r_regionkey', 'r_name']]
df_scan_5 = nation[['n_nationkey', 'n_regionkey']]
df_join_2 = df_scan_4.merge(df_scan_5, left_on=['r_regionkey'], right_on=['n_regionkey'], how='inner', sort=False)
df_scan_6 = supplier[['s_suppkey', 's_nationkey']]
df_join_3 = df_join_2.merge(df_scan_6, left_on=['n_nationkey'], right_on=['s_nationkey'], how='inner', sort=False)
df_scan_7 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_supplycost']]
df_join_4 = df_join_3.merge(df_scan_7, left_on=['s_suppkey'], right_on=['ps_suppkey'], how='inner', sort=False)
df_group_1 = df_join_4 \
    .groupby(['ps_partkey'], sort=False, as_index=False) \
    .agg(
        ps_supplycostmin=('ps_supplycost', 'min'),
    )
df_join_5 = df_scan_3.merge(df_group_1, left_on=['p_partkey'], right_on=['ps_partkey'], how='inner', sort=False)
df_scan_8 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_supplycost']]
df_join_6 = df_join_5.merge(df_scan_8, left_on=['ps_supplycostmin', 'ps_partkey', 'p_partkey'], right_on=['ps_supplycost', 'ps_partkey', 'ps_partkey'], how='inner', sort=False)
df_scan_9 = supplier[['s_suppkey', 's_name', 's_address', 's_nationkey', 's_phone', 's_acctbal', 's_comment']]
df_join_7 = df_join_6.merge(df_scan_9, left_on=['ps_suppkey'], right_on=['s_suppkey'], how='inner', sort=False)
df_join_8 = df_join_1.merge(df_join_7, left_on=['n_nationkey'], right_on=['s_nationkey'], how='inner', sort=False)
df_sort_1 = df_join_8.sort_values(
    by=['s_acctbal', 'n_name', 's_name', 'p_partkey'],
    ascending=[False, True, True, True]
)
df_output_OLD = df_sort_1[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]

In [10]:
len(df_output_OLD)

460

In [11]:
df_output_OLD

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
453,9938.53,Supplier#000005359,UNITED KINGDOM,185358,Manufacturer#4,"QKuHYh,vZGiwu2FWEJoLDx04",33-429-790-6131,uriously regular requests hag
243,9937.84,Supplier#000005969,ROMANIA,108438,Manufacturer#1,"ANDENSOSmk,miq23Xfb5RWt6dvUcvt6Qa",29-520-692-3537,efully express instructions. regular requests ...
368,9936.22,Supplier#000005250,UNITED KINGDOM,249,Manufacturer#4,B3rqp0xbSEim4Mpy2RH J,33-320-228-2957,etect about the furiously final accounts. slyl...
106,9923.77,Supplier#000002324,GERMANY,29821,Manufacturer#4,y3OD9UywSTOk,17-779-299-1839,ackages boost blithely. blithely regular depos...
114,9871.22,Supplier#000006373,GERMANY,43868,Manufacturer#5,J8fcXWsTqM,17-813-485-8637,etect blithely bold asymptotes. fluffily ironi...
...,...,...,...,...,...,...,...,...
120,-906.23,Supplier#000007605,GERMANY,70083,Manufacturer#3,0aWoD lZmEwNfcg8cj60u2hp,17-497-385-9346,bold deposits. bravely sp
441,-927.13,Supplier#000003514,UNITED KINGDOM,150998,Manufacturer#5,63uWeHPVfzygvwEivG,33-482-787-8079,y unusual asymptotes boost carefully. regular ...
281,-963.79,Supplier#000000065,RUSSIA,20064,Manufacturer#2,BsAnHUmSFArppKrM,32-444-835-2434,l ideas wake carefully around the regular pack...
423,-970.28,Supplier#000004677,UNITED KINGDOM,117143,Manufacturer#1,"s,bn 4mYd5RWFDkY88z4VdzJ",33-455-575-6387,foxes. furiously even requests haggle furious...
55,-986.14,Supplier#000003627,FRANCE,103626,Manufacturer#2,"77,1uiRw rXybJh",16-568-745-4062,closely blithely regular dolphins. fluffi

In [24]:
df_scan_1 = region[(region.r_name == 'EUROPE')]
df_scan_1 = df_scan_1[['r_regionkey', 'r_name']]
df_scan_2 = nation[['n_nationkey', 'n_name', 'n_regionkey']]
df_join_1 = df_scan_1.merge(df_scan_2, left_on=['r_regionkey'], right_on=['n_regionkey'], how='inner', sort=False)
df_scan_3 = part[part.p_type.str.contains('^.*?BRASS$', regex=True) & (part.p_size == 15)]
df_scan_3 = df_scan_3[['p_partkey', 'p_mfgr', 'p_type', 'p_size']]
df_scan_4 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_supplycost']]
df_join_2 = df_scan_3.merge(df_scan_4, left_on=['p_partkey'], right_on=['ps_partkey'], how='inner', sort=False)
df_scan_5 = supplier[['s_suppkey', 's_name', 's_address', 's_nationkey', 's_phone', 's_acctbal', 's_comment']]
df_join_3 = df_join_2.merge(df_scan_5, left_on=['ps_suppkey'], right_on=['s_suppkey'], how='inner', sort=False)
df_join_4 = df_join_1.merge(df_join_3, left_on=['n_nationkey'], right_on=['s_nationkey'], how='inner', sort=False)
df_scan_6 = region[(region.r_name == 'EUROPE')]
df_scan_6 = df_scan_6[['r_regionkey', 'r_name']]
df_scan_7 = nation[['n_nationkey', 'n_regionkey']]
df_join_5 = df_scan_6.merge(df_scan_7, left_on=['r_regionkey'], right_on=['n_regionkey'], how='inner', sort=False)
df_scan_8 = supplier[['s_suppkey', 's_nationkey']]
df_join_6 = df_join_5.merge(df_scan_8, left_on=['n_nationkey'], right_on=['s_nationkey'], how='inner', sort=False)
df_scan_9 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_supplycost']]
df_join_7 = df_join_6.merge(df_scan_9, left_on=['s_suppkey'], right_on=['ps_suppkey'], how='inner', sort=False)

#df_join_4 = df_join_4.sort_values(
#    by=['s_acctbal'],
#    ascending=[False]
#)
#df_join_4_new = df_join_4 \
#    .groupby(['p_partkey'], sort=False, as_index=False) \
#    .agg(
#        p_mfgr=('p_mfgr', 'first'),
#        ps_supplycost=('ps_supplycost', 'first'),
#        s_acctbal=('s_acctbal', 'first'),
#        s_name=('s_name', 'first'),
#        n_name=('n_name', 'first'),
#        s_address=('s_address', 'first'),
#        s_phone=('s_phone', 'first'),
#        s_comment=('s_comment', 'first'),
#    )

df_join_8 = df_join_4.merge(df_join_7, left_on=['p_partkey', 'ps_supplycost'], right_on=['ps_partkey', 'ps_supplycost'], how='left', sort=False)

print(f"df_join_8: {len(df_join_8)}")
#df_filter_1 = df_join_8[(df_join_8.ps_supplycost_x == df_join_8.ps_supplycost_y)]
#print(f"df_filter_1: {len(df_filter_1)}")
df_output_1 = df_join_8[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
print(f"df_output_1: {len(df_output_1)}")

df_join_8: 642
df_output_1: 642

In [13]:
df_join_8

,r_regionkey_x,r_name_x,n_nationkey_x,n_name,n_regionkey_x,p_partkey,p_mfgr,p_type,p_size,ps_partkey_x,...,s_acctbal,s_comment,r_regionkey_y,r_name_y,n_nationkey_y,n_regionkey_y,s_suppkey_y,s_nationkey_y,ps_partkey_y,ps_suppkey_y
0,3,EUROPE,6,FRANCE,3,1015,Manufacturer#4,MEDIUM BRUSHED BRASS,15,1015,...,7669.38,ffily even pinto beans grow ruthlessly pac,3,EUROPE,6,3,6016,6,1015,6016
1,3,EUROPE,6,FRANCE,3,2037,Manufacturer#1,PROMO PLATED BRASS,15,2037,...,6332.07,usual asymptotes. regular deposits haggle alwa...,3,EUROPE,6,3,7038,6,2037,7038
2,3,EUROPE,6,FRANCE,3,3080,Manufacturer#2,STANDARD ANODIZED BRASS,15,3080,...,8022.42,special accounts beside the pending foxes wake...,3,EUROPE,6,3,3081,6,3080,3081
3,3,EUROPE,6,FRANCE,3,3080,Manufacturer#2,STANDARD ANODIZED BRASS,15,3080,...,781.51,along the carefully pending packages. slyly ir...,3,EUROPE,6,3,8081,6,3080,8081
4,3,EUROPE,6,FRANCE,3,3563,Manufacturer#1,MEDIUM PLATED BRASS,15,3563,...,2848.81,packages haggle after the silent de,3,EUROPE,6,3,3564,6,3563,3564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,3,EUROPE,23,UNITED KINGDOM,3,190267,Manufacturer#5,ECONOMY PLATED BRASS,15,190267,...,6261.99,"nic frays use furiously among the final, ironi...",3,EUROPE,23,3,268,23,190267,268
638,3,EUROPE,23,UNITED KINGDOM,3,190267,Manufacturer#5,ECONOMY PLATED BRASS,15,190267,...,8376.52,"ly final accounts sleep special, regular reque...",3,EUROPE,23,3,5306,23,190267,5306
639,3,EUROPE,23,UNITED KINGDOM,3,193742,Manufacturer#1,ECONOMY ANODIZED BRASS,15,193742,...,6124.81,counts sleep regular theodolite,3,EUROPE,23,3,1300,23,193742,1300
640,3,EUROPE,23,UNITED KINGDOM,3,193810,Manufacturer#2,MEDIUM PLATED BRASS,15,193810,...,5195.54,deposits haggle carefully. even instructions a...,3,EUROPE,23,3,8849,23,193810,8849
641,3,EUROPE,23,UNITED KINGDOM,3,199478,Manufacturer#3,STANDARD ANODIZED BRASS,15,199478,...,-589.57,kly final deposits along the fluffily busy pac...,3,EUROPE,23,3,1998,23,199478,1998

In [14]:
df_join_4[df_join_4['p_partkey'] == 156241]

,r_regionkey,r_name,n_nationkey,n_name,n_regionkey,p_partkey,p_mfgr,p_type,p_size,ps_partkey,ps_suppkey,ps_supplycost,s_suppkey,s_name,s_address,s_nationkey,s_phone,s_acctbal,s_comment
199,3,EUROPE,7,GERMANY,3,156241,Manufacturer#3,SMALL BRUSHED BRASS,15,156241,1272,637.58,1272,Supplier#000001272,"s6ACcmRU,Iv",7,17-399-346-8089,1272.52,ar platelets serve slyly. instructions agains
622,3,EUROPE,23,UNITED KINGDOM,3,156241,Manufacturer#3,SMALL BRUSHED BRASS,15,156241,8757,517.63,8757,Supplier#000008757,Atg6GnM4dT2,23,33-821-407-2995,9721.95,eep furiously sauternes; quickl

In [15]:


p_partkey = set(df_join_4['p_partkey'])
print(len(df_join_4['p_partkey']))
ps_partkey = set(df_join_7['ps_partkey'])
print(f"p_partkey: {len(p_partkey)}")
print(f"ps_partkey: {len(ps_partkey)}")

print(p_partkey.difference(ps_partkey))

642
p_partkey: 460
ps_partkey: 117422
set()

In [16]:
df_output_OLD.equals(df_output_1)

False

In [17]:
df_output_1

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
0,7669.38,Supplier#000006016,FRANCE,1015,Manufacturer#4,OmiSL2cwQ6YGQncYNAj8WZAFgz,16-757-121-2301,ffily even pinto beans grow ruthlessly pac
1,6332.07,Supplier#000007038,FRANCE,2037,Manufacturer#1,"Z5UML Yd8ZOMvawM6dv rQFFZr,Lm",16-978-492-1589,usual asymptotes. regular deposits haggle alwa...
2,8022.42,Supplier#000003081,FRANCE,3080,Manufacturer#2,"vKnj7hZN,Ky1YyqUVr7h",16-656-337-9927,special accounts beside the pending foxes wake...
3,781.51,Supplier#000008081,FRANCE,3080,Manufacturer#2,"a1xOE WQzn,nGC5kBzKRdWxI2cl0D2q",16-623-963-9556,along the carefully pending packages. slyly ir...
4,2848.81,Supplier#000003564,FRANCE,3563,Manufacturer#1,tYOfapsdmZRAq VMX73Mc9BsGa,16-720-599-1105,packages haggle after the silent de
...,...,...,...,...,...,...,...,...
637,6261.99,Supplier#000000268,UNITED KINGDOM,190267,Manufacturer#5,ApLM6aebtP79LIp,33-863-692-9039,"nic frays use furiously among the final, ironi..."
638,8376.52,Supplier#000005306,UNITED KINGDOM,190267,Manufacturer#5,"9t8Y8 QqSIsoADPt6NLdk,TP5zyRx41oBUlgoGc9",33-632-514-7931,"ly final accounts sleep special, regular reque..."
639,6124.81,Supplier#000001300,UNITED KINGDOM,193742,Manufacturer#1,UqX4pArRmxHi3LSB,33-890-567-7030,counts sleep regular theodolite
640,5195.54,Supplier#000008849,UNITED KINGDOM,193810,Manufacturer#2,jFdWH9Ur0NNdVsgWzSWnM8U,33-182-694-8043,deposits haggle carefully. even instructions a...
641,-589.57,Supplier#000001998,UNITED KINGDOM,199478,Manufacturer#3,QwwByHZ9 JLIFToI4hp9qlDianI9uy,33-159-218-2352,kly final deposits along the fluffily busy pac...

In [18]:
print(f"df_output_1: {len(df_output_1)}")
df_output_1[df_output_1['s_name'] == "Supplier#000005359"]

df_output_1: 642

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
634,9938.53,Supplier#000005359,UNITED KINGDOM,185358,Manufacturer#4,"QKuHYh,vZGiwu2FWEJoLDx04",33-429-790-6131,uriously regular requests hag

In [19]:
overall_df = pd.concat([df_output_OLD,df_output_1]).drop_duplicates(keep=False)
print(f"overall_df: {len(overall_df)}")
print(f"new_output: {len(df_output_1)} and old_output: {len(df_output_OLD)}. Difference: {len(df_output_1) - len(df_output_OLD)}")

overall_df: 182
new_output: 642 and old_output: 460. Difference: 182

In [20]:
df_output_OLD[df_output_OLD['p_partkey'] == 81285]

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
123,9870.78,Supplier#000001286,GERMANY,81285,Manufacturer#2,"YKA,E2fjiVd7eUrzp2Ef8j1QxGo2DFnosaTEH",17-516-924-4574,regular accounts. furiously unusual courts ab...

In [21]:
df_output_1[df_output_1['p_partkey'] == 81285]

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
182,9870.78,Supplier#000001286,GERMANY,81285,Manufacturer#2,"YKA,E2fjiVd7eUrzp2Ef8j1QxGo2DFnosaTEH",17-516-924-4574,regular accounts. furiously unusual courts ab...
565,9955.05,Supplier#000008810,UNITED KINGDOM,81285,Manufacturer#2,",Ot93zDXOFSjWSKsKrT7XJ4YPCP,A",33-527-478-5988,ily according to the carefully express pinto b...
570,3225.83,Supplier#000003794,UNITED KINGDOM,81285,Manufacturer#2,"RZBP5zv,DVmlQUyr5Q 15NuLJGrLzYdPN3UpLDlj",33-754-466-6655,counts. carefully ironic theodolites boost sly...

In [22]:
overall_df[overall_df['p_partkey'] == 81285]

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
565,9955.05,Supplier#000008810,UNITED KINGDOM,81285,Manufacturer#2,",Ot93zDXOFSjWSKsKrT7XJ4YPCP,A",33-527-478-5988,ily according to the carefully express pinto b...
570,3225.83,Supplier#000003794,UNITED KINGDOM,81285,Manufacturer#2,"RZBP5zv,DVmlQUyr5Q 15NuLJGrLzYdPN3UpLDlj",33-754-466-6655,counts. carefully ironic theodolites boost sly...

In [23]:
overall_df

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
2,8022.42,Supplier#000003081,FRANCE,3080,Manufacturer#2,"vKnj7hZN,Ky1YyqUVr7h",16-656-337-9927,special accounts beside the pending foxes wake...
5,7009.72,Supplier#000003823,FRANCE,3822,Manufacturer#5,"4ex,LmqMHTsTXzQmD69P6hcH2AYo9z31g",16-321-642-8507,olphins. quickly final platelets are carefully...
7,-274.84,Supplier#000004821,FRANCE,7320,Manufacturer#5,2JiH5BnPCNJwvERzU6ia8DLhp,16-809-287-1131,kages. regular foxes slee
8,541.3,Supplier#000003608,FRANCE,8607,Manufacturer#5,b5zVYs7ziq,16-355-434-1153,final theodolites sleep deposits? deposits det...
9,7992.4,Supplier#000006108,FRANCE,8607,Manufacturer#5,8tBydnTDwUqfBfFV4l3,16-974-998-8937,ironic ideas? fluffily even instructions wake...
...,...,...,...,...,...,...,...,...
620,4815.44,Supplier#000003614,UNITED KINGDOM,151098,Manufacturer#3,om8XnsBFPKTxjvKhn 168SlP5drWoP7r tZP,33-876-776-9763,ithely. regular packages detect. final foxes c...
621,4553.62,Supplier#000009864,UNITED KINGDOM,152318,Manufacturer#3,8uHZOeJqglR6upaX,33-682-554-7774,"accounts cajole blithely final excuses. silent,"
624,1415.19,Supplier#000006726,UNITED KINGDOM,159180,Manufacturer#5,"nLoBfJ42KEnu 9ZWyu937SyPI,EQJ1mswcORSLrp",33-802-359-4814,aggle close requests. evenly express requests ...
637,6261.99,Supplier#000000268,UNITED KINGDOM,190267,Manufacturer#5,ApLM6aebtP79LIp,33-863-692-9039,"nic frays use furiously among the final, ironi..."
640,5195.54,Supplier#000008849,UNITED KINGDOM,193810,Manufacturer#2,jFdWH9Ur0NNdVsgWzSWnM8U,33-182-694-8043,deposits haggle carefully. even instructions a...